@using ProjetPerso.Models.Personnages
@model CreateEditePersonnageViewModel

@{
    ViewData["Title"] = "CreateEditePersonnage";
}

<h1>CreateEditePersonnage</h1>

<h4>Personnage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreatePerso", "Personnage", FormMethod.Post))
        {
        <table>
            @Html.HiddenFor(m => m.Nouveau)
            @Html.HiddenFor(m => m.Personnages.ID)
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Joueur)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Joueur)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Nom)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Nom)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Pernoms)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Pernoms)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Age)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Age)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Dexteriter)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Dexteriter)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Charisme)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Charisme)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Perseption)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Perseption)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Constitution)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Constitution)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Force)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Force)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Agiliter)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Agiliter)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Vie)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Vie)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Personnages.Note)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Personnages.Note)
                </td>
            </tr>
            <tr>
                <input type="submit" value="@ViewBag.action" class="btn btn-primary" />
            </tr>
            </table>
        }
        </div>
        </div>

        <div>
            <a asp-action="Index"><button class="btn btn-secondary"> Retour</button></a>
        </div>
