@using ProjetPerso.Models.Personnages
@model IndexViewModel


@{
    ViewData["Title"] = "Personnage";
}

<script>
    function launchModal(id, joueur, nom) {
        document.getElementById("exampleModalLabel").innerHTML = joueur + " " + nom;
        document.getElementById("DeleteButton").action = "/Personnage/Delete?ReturnID=" + id;
        document.getElementById("ContenteModal").innerHTML = "Voulez vous vraiment suprimez le personnage de " + joueur + " " + nom + " ?";
    }

    function launchModalInfo(info, perso) {
        document.getElementById("exampleModalLabel").innerHTML = "Information sur " + perso;
        document.getElementById("DeleteButton").action = "";
        document.getElementById("ContenteModal").innerHTML = info;
    }

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

</script>

<h1>Liste des Personnage</h1>


<p>
    <a href="Personnage/Create"><button class="btn btn-secondary"> Ajouter un Personnage</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Joueur
            </th>
            <th>
                Nom
            </th>
            <th>
                Prenoms
            </th>
            <th>
                Age
            </th>
            <th>
                Dexteriter
            </th>
            <th>
                Charisme
            </th>
            <th>
                Perseption
            </th>
            <th>
                Constitution
            </th>
            <th>
                Force
            </th>
            <th>
                Agiliter
            </th>
            <th>
                Vie
            </th>
            <th>
                Note
            </th>
            <th>
                Editer
            </th>
            <th>
                Supprimer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Personnages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joueur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pernoms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dexteriter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Charisme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perseption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Constitution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Force)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agiliter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vie)
                </td>
                <td>
                    <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick='launchModalInfo("@item.Note","@item.Pernoms" )'>Info</button>
                </td>
                <td>
                    @using (Html.BeginForm("Details", "Personnage", new { ReturnID = item.ID }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Edit</button>
                    }
                </td>
                <td>
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick='launchModal(@item.ID,"@item.Joueur", "@item.Nom" )'><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ContenteModal">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form action="" method="post" id="DeleteButton">
                        <button type="submit" class="btn btn-primary">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </tbody>
</table>
